.meal-reservation button{
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin-bottom: 24px;
  color: white;
  border: none;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.meal-selection button{
  border-radius: 20px;
  width: 322px;
  height: 72px;
  background-color: #F6F6F6;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  margin: 24px auto auto auto ;
  position: relative;
  font-size: 16px;
  font-weight: 500;
}

.number {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color:#9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}




.logo-button{
  width: 16px;
  height: 16px;
  color: grey;
  margin-right: 12px;
  margin-left: 45px;
}

.logo-button-purple {
  color: #9356DC;
}