@import '../utils/animations';

.preloader {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#F3F3F3;
    opacity: 0.9;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: disappear 200ms 4s ;
    animation-fill-mode: forwards;  // permet a l'animation de disparaitre a la fin de l'animation
    h1 {
        color: #000000;
        font-size: 3.5rem;
        font-family:$heading-font-family ;
        text-align: center;
        font-family: 'Shrikhand', cursive;
    }
    .loader {
        margin-top: 25px;
        display: block;
        width: 100px;
        height: 100px;
        position: relative ;        
        &::before {
            content: "";
            width: 100px;
            height: 100px;
            position: absolute;
            border: 5px solid #000000;
            border-color: #000000 transparent #000000 transparent;
            border-radius: 50%;
            animation: spin 1s infinite ease-in-out;
        }
    }
}