.new-sticker {
    color: #008766;
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    position: absolute;
    right: 10px;
    top: 20px;
  }