.new-sticker {
    color: $green-color;
    background-color: $green-light-color;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    position: absolute;
    right: 10px;
    top: 20px;
  }