
/* Remove default margin and padding */
*{
  margin :0;
  padding :0;
  box-sizing: border-box;
}

body {
  font-family: $heading-font-family ;
}


/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul {
  list-style: none;
}


