header {
    width: 100%;
    text-align: center;
    img {
        width:197px;     // S'assure que l'image ne dépasse pas la largeur de son conteneur
        height: 36px;        // Garantit que l'image conserve son rapport hauteur/largeur
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .location {
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:$grey-dark-color;
        height: 50px;
        input {
            margin-left: 14px;
            border: none;
            background-color: transparent;
            text-align: center;
            padding: 5px 0;
            &::placeholder {
                font-family: $heading-font-family;
                font-size: 16px;
                font-weight: bold;
                color: black;
            }
          }
    }
  }

