@charset "UTF-8";
/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul {
  list-style: none;
}

.action-button {
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 35px auto 35px auto;
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 16px;
  font-weight: 500;
  transition: all 1000ms;
}
.action-button:hover {
  filter: brightness(1.25);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2509803922);
}

.meal-selection button {
  border-radius: 20px;
  width: 322px;
  height: 72px;
  background-color: #F6F6F6;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  margin: 24px auto auto auto;
  position: relative;
  font-size: 16px;
  font-weight: 500;
}

.number {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.logo-button {
  width: 16px;
  height: 16px;
  color: grey;
  margin-right: 12px;
  margin-left: 45px;
}

.logo-button-purple {
  color: #9356DC;
}

footer {
  background-color: #353535;
  color: white;
  padding: 23px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
}
footer ul {
  margin-top: 15px;
}
footer li {
  margin-bottom: 5px;
}
footer .footer-icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .button-container {
    display: flex;
  }
  .restaurants {
    padding: 30px 180px 30px 180px !important;
  }
  .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .restaurants-cards .card {
    width: 45% !important;
  }
  .meal-selection {
    padding: 50px 180px 50px 180px !important;
  }
  .meal-selection button {
    width: 30%;
  }
  .meal-reservation h1 {
    font-size: 40px !important;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 30px 25px 30px 25px;
  }
  footer ul {
    display: flex;
    gap: 7px;
    margin-top: 0;
  }
  footer ul li {
    margin-right: 1em;
  }
  .overlay-div .title-container {
    justify-content: center !important;
  }
  .overlay-div .title-container .fav-icon-restaurant {
    margin-left: 30px;
  }
  .overlay-div h1 {
    text-align: center;
  }
  .overlay-div .meal-starter {
    width: 634px;
    margin: auto;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  text-align: center;
}

header img {
  width: 197px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}

.location p {
  margin-left: 14px;
}

main {
  background-color: #F6F6F6;
}

.meal-reservation {
  text-align: center;
}
.meal-reservation h1 {
  padding-top: 36px;
  font-size: 24px;
  font-weight: 700;
}
.meal-reservation p {
  height: 46px;
  font-size: 18px;
  margin-top: 12px;
}

.meal-selection {
  background-color: white;
  padding: 50px 15px;
}

.restaurants {
  padding: 30px 15px;
}

.restaurants-cards .card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 346px;
  justify-content: center;
  margin: 20px auto;
}

.restaurants-cards img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-cards .card-content {
  padding: 12px;
}

.new-button {
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  position: absolute;
  right: 10px;
  top: 20px;
}

.fav-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fav-icon:hover {
  color: red;
}

.image-container {
  width: 100%;
}
.image-container img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menu {
  background-color: white;
  width: 100%;
  height: 1215px;
}

.overlay-div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  width: 100%;
  max-width: 1055px;
  margin: auto;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  padding: 15px;
}
.overlay-div .title-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.overlay-div h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", cursive;
}
.overlay-div h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: grey;
  font-weight: normal;
  margin-top: 30px;
  padding-bottom: 1rem;
  position: relative;
}
.overlay-div h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px; /* Épaisseur de la ligne */
  background-color: green;
  position: absolute;
  bottom: 10px; /* Ajustez la position verticale du trait */
  left: 0; /* Ajustez la position horizontale du trait */
}
.overlay-div article {
  display: flex;
  align-items: flex-end; /* Permet de fixer le prix en bas de la div */
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  background-color: white;
  margin-top: 10px;
}

.main-restaurant {
  background-color: white;
  margin-bottom: -50px;
}

.header-restaurant {
  display: flex;
}
.header-restaurant .arrow-icon {
  font-size: 24px;
  position: relative;
  left: 30px;
  top: 22px;
}
.header-restaurant img {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */